<!DOCTYPE html>
<html lang="en">

<body>
    <app-nav-bar></app-nav-bar>
    <div class="banner">
        <span class="_titleMargin_dinbc_21 _titleColor_dinbc_26">
            <span class="_titleColorLinear_dinbc_207"> Virtusa Story builder
                <span class="p-image p-component _bottomLine_dinbc_215" data-pc-name="image" data-pc-section="root">
                </span>,
                the powerful and </span>
            <div class="_bgContainer_dinbc_9"></div>
            <span class="_titleColor_dinbc_26"> professional AI assistant </span>
            <span class="_titleColor2_dinbc_35"> designed for PM </span>
            <span class="_titleColor3_dinbc_44">
                <p> Effortlessly generating PRD, reviewing PRD, captivating user story ideas, </p>
                <p> and more features are waiting for you in our Gemini-based tool </p>
            </span>
        </span>
    </div>

    <section>
        <div class="_demoContainer_dinbc_79">
            <div class="_left_dinbc_112">
                <span class="p-image p-component _image_dinbc_88" data-pc-name="image" data-pc-section="root">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </span>
            </div>
            <div class="_right_dinbc_117">
                <p class="_titleColor4_dinbc_52">Story Generation</p>
                <p class="_desc4_dinbc_60">Describe the requirement then AI4PRD could come up different user stories,
                    and fuel inspiration for your design and development endeavors.</p>
            </div>
        </div>
    </section>

    <section>
        <div class="_demoContainer_dinbc_79 _demoContainer2_dinbc_122 _lastDemoContainer_dinbc_203">
            <div class="_left_dinbc_112">
                <span class="p-image p-component _image_dinbc_88" data-pc-name="image" data-pc-section="root">
                    <div class="card" style="width: 18rem; margin-right: 15px;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                    <div class="_right_dinbc_117">
                        <p class="_titleColor4_dinbc_52">Story Expansion</p>
                        <p class="_desc4_dinbc_60">Tell one or multiple user stories with AI4PRD, and witness its
                            ability to augment them with detailed supplementary information, enriching the stories.</p>
                    </div>
                </span>
            </div>
        </div>
    </section>

    <section class="_demoContainer3_dinbc_134">
        <div class="_demo3Title141"> Why <span class="Title142">Virtusa Story builder</span> ? </div>
        <div class="_content156">
            <div class="_list162">
                <div class="_item167">
                    <span class="p-image p-component _image_dinbc_88" data-pc-name="image" data-pc-section="root">
                        <img class="" src="../../assets/download.png" alt="Image" data-pc-section="image">
                    </span>
                    <div class="_title21">Costs Saving</div>
                    <div class="_desc60">Quickly express ideas</div>
                    <div class="_desc60">Save development and delivery time</div>
                    <div class="_desc60">Reduce tedious repetitive work</div>
                </div>
                <div class="_item167">
                    <span class="p-image p-component _image_dinbc_88" data-pc-name="image" data-pc-section="root">
                        <img class="" src="../../assets/download 2.png" alt="Image" data-pc-section="image">
                    </span>
                    <div class="_title21">Obtain Inspiration</div>
                    <div class="_desc60">Collect product design inspirations</div>
                    <div class="_desc60">Attain thorough content supplements</div>
                    <div class="_desc60">Be clear of the iterative direction</div>
                </div>
                <div class="_item167">
                    <span class="p-image p-component _image_dinbc_88" data-pc-name="image" data-pc-section="root">
                        <img class="" src="../../assets/download3.jpg" alt="Image" data-pc-section="image">
                    </span>
                    <div class="_title21">Self-improvement</div>
                    <div class="_desc60">Master the document framework</div>
                    <div class="_desc60">Get significant suggestions</div>
                    <div class="_desc60">Accelerate your professional growth</div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
<!-- 
<router-outlet></router-outlet> -->