.loading-container {
    justify-content: center;
    align-items: center;
    /* background-color: transparent; Transparent background */
}

.loading-gif {
    width: 100px; /* Set the size of the loading GIF */
    height: 100px;
}
